
<%= turbo_stream.replace "voice_record" do %>
 <%= render partial: "posts/form", locals: { post: post } %>
         <%# <span data-action="click->voice-input#record" data-voice-input-target="startButton" style="cursor: pointer; text-decoration: underline">
          Start Recording</span>
      </div> %>
<% end %>



